<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
  
  
  <!-- 数据库配置文件 -->
  <context:property-placeholder location="classpath:config/database.properties" />
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
  	p:driverClassName="${driverClassName}"
	p:url="${url}"
	p:username="${user_name}"
	p:password="${password}" /><!-- 数据源配置 -->
	
	
  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"><!-- sqlSessionFactory对象 -->
  	<!-- 数据源 -->
  	<property name="dataSource" ref="dataSource" />
  	<!-- myBatis配置文件 -->
	<property name="configLocation" value="classpath:mybatis-config.xml" />
	<!-- 可以在Configuration.xml或此处配置映射文件，但其中不能有相同id的parameterMap, resultMap或sql等 -->	
	<property name="mapperLocations" value="classpath*:com/test/dao/mapper/*.xml" />
  </bean>
  
  
  <!-- 扫描指定包以获取映射器 -->  	
  <bean id="mapperConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  	<property name="basePackage" value="com.test.dao.mapper" />
  </bean>
</beans>
